.display {
    grid-column: span 4;
    /*span diz que vai ocupar as 4 linhas*/
    background-color: #0004;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
}